*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
    overflow: visible;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    font-size: 15px;
}

input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 45px;
    border-radius: 2px;
}

input[type="submit"] {
    padding: 18px 36px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover, table td input[type="button"]:hover {
    opacity: 0.8;
}

legend {
    padding: 0;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.form-group {
    display: block;
    margin-bottom: 15px;
    margin-right: 40px;
}

.form-group input {
    cursor: pointer;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.contactlabel {
    display: flex;
    align-items: center;
}

.form-field {
    margin-bottom: 20px;
}

.form .err-txt, small {
    display: none;
    padding: 5px 0;
    margin-bottom: 15px;
    color: #f20;
}

.form .form-field.error, small {
    border-color: #f20;
}

.form .form-field.error .err-txt, small {
    display: block;
}

table {
    list-style: none;
    display: grid;
    justify-content: center;
    padding: 0;
    margin: 0 40px 50px;
}

table th {
    padding: 1em 2em .8em 2em;
    border: none;
    font-size: 16px;
    width: 100%;
    line-height: 24px;
}

table tr:nth-child(odd) {
    background-color: #fff;
}
  
table tr:nth-child(even) {
    background-color: #eee;
}

.unit-table {
    background: transparent !important;
}

table thead tr {
    display: flex;
    align-items: center;
    margin-left: 130px;
}

table tr {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

table td {
    height: 100%;
}

table td input {
    text-align: center;
    border-radius: 5px; 
}

table td input[type="button"] {
    background-color:#C70000;
    color: #fff;
    border: none; 
    border-radius: 5px; 
    padding: 15px;
    height: 100%; 
    min-width: 120px;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 910px) {
    form {
        padding: 30px 20px 20px;
        margin-top: 0;
    }

    input[type="submit"] {
        padding: 16px 20px;
        font-size: 16px;
        letter-spacing: 1.3px;
        margin-top: 17px;
    }

    .wrapper {
        display: inline-block;
        min-width: 100%;
        box-sizing: border-box;
      }
      
      .wrapper > table {
        width: inherit;
        display: block;
        margin: 0 20px 50px;
      }

      table thead {
        display: block;
        margin-left: 74px;
      }

      table thead tr {
        margin-left: 40px;
    }

      table thead th {
        display: block;
        min-width: 180px;
      }

      table tr {
        overflow: scroll;
      }

      table td input[type="button"] {
        min-width: 110px;
      }
}


@media screen and (min-width: 480px) {
    form {
        max-width: 480px;
    }
}

@media screen and (min-width: 992px) {
    form {
        max-width: 750px;
    }
    .checkboxGroup {
        display: flex;
        justify-content: flex-start;
    }
}